* {
	border: none;
	border-radius: 5;
  font-family: "JetbrainsMono Nerd Font" ;
	font-size: 8px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
  color: transparent;
	background: transparent;
}

#disk {
	margin-top: 3px;
  margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	background: #2274C4;
	color: white;
}

#network {
  background: #FAF173;
	margin-top: 3px;
  margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

#battery {
  border: 1px solid white;
  margin-top: 3px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  color: white;
}

#mpris {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  background: white;
  color: #120D33;
}

#mpris.playing {
  transition-timing-function: ease-in;
  background: radial-gradient(#F35, #43E);
  color: white;
}

#mpris.playing:hover {
  transition-duration: .2s;
  background: radial-gradient(white, red);
}

#mpris.paused {
  background: radial-gradient(#e66465, #9198e5);
  transition-duration: .2s;
  transition-timing-function: ease-out;
  color: white;
}

#pulseaudio {
	margin-top: 3px;
	margin-left: 8px;
  margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: white;
	background: #18C7C1;
}

@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}

#backlight {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: #161320;
	background: #F8BD96;
}

#clock {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: #161320;
	background: #ABE9B3;
}

#memory {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
	color: white;
	background: #00AA81;
}
#cpu {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
	color: white;
	background: #8E36B6;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	transition: none;
  color: #89DCEB;
  background: #161320;
}

#custom-power {
	font-size: 20px;
	margin-top: 3px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	transition: none;
	color: #161320;
	background: #F28FAD;
}

#custom-wallpaper {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: #161320;
	background: #C9CBFF;
}


#workspaces {
  margin-top: 3px;
}

#workspaces button {
  padding: 2px 5px;
  margin: 2px 5px;
  background: transparent;
  color: white;
  transition-duration: 0.5s;
}

#workspaces button.focused {
  background: #25002E;
  border-bottom: 1px solid white;
  transition-duration: 0.5s;
}

#workspaces button.active {
  color: white;
  background-color: #FA02CF;
  transition-duration: 0.5s;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  border: none;
  border-radius: 50px;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 2px;
  min-width: 80px;
  border-radius: 50px;
  background-color: black;
}

#pulseaudio-slider highlight {
  min-width: 80px;
  border-radius: 50px; 
  background-color: #6F02FA;
}
